# Format: alloc:bool,block:int,level:int,replace:[lru|pseudolru|random|fifo],
# size:int,type:[instruction|data|unified],ways:int,write:[back|thru]
# Order irrelevant; blank lines OK
alloc:true,block:32,level:1,replace:fifo,size:4096,type:instruction,ways:2,write:back
alloc:true,block:32,level:1,replace:fifo,size:4096,type:data,ways:2,write:back
alloc:true,block:128,level:2,replace:fifo,size:131072,type:unified,ways:4,write:back
