# Format: alloc:bool,block:int,level:int,replace:[lru|plru|random|fifo],
# size:int,type:[instruction|data|unified],ways:int,write:[back|thru]
# Order irrelevant; blank lines OK

level:1,type:instruction,size:4096,ways:2,block:16,write:back,alloc:true,replace:fifo
level:1,type:data,size:4096,ways:2,block:16,write:back,alloc:true,replace:random
level:2,type:unified,size:131072,block:64,ways:4,replace:random,write:back,alloc:true
