# Format: alloc:bool,block:int,level:int,replace:[lru|plru|random|fifo],
# size:int,type:[instruction|data|unified],ways:int,write:[back|thru]
# Order irrelevant; blank lines OK

level:1,size:32768,alloc:true,block:64,ways:4,replace:plru,write:back,type:instruction

level:1,size:32768,alloc:true,block:64,ways:8,replace:plru,write:back,type:data

level:2,size:262144,block:64,ways:8,replace:plru,write:back,alloc:true,type:unified
