# Format: alloc:bool,block:int,level:int,replace:[lru|plru|random|fifo],
# size:int,type:[instruction|data|unified],ways:int,write:[back|thru]
# Order irrelevant; blank lines OK

level:1,type:instruction,size:65536,block:64,ways:2,write:thru,alloc:false,replace:fifo

type:data,size:65536,block:64,ways:2,write:thru,alloc:false,replace:fifo,level:1

level:2,type:unified,size:524288,block:64,replace:fifo,write:back,alloc:false,ways:16

